@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-color: #FFD25F; /* Color de fondo amarillo claro */
    font-family: 'Poppins', sans-serif; /* Tipografía Poppins para todo el contenido */
    margin: 0px;/* Elimina márgenes predeterminados */
    position: relative;
}

h2 {
    font-size: 4.0vw; /* Tamaño para subtítulos */
    color: #333; /* Color oscuro para los subtítulos */
}

.quienes-somos {
    margin-top: 20vh; /* Ajusta la posición específica para el primer título */
    padding-left: 15vh;

}
.objetivo{
    margin-top: -10vh; /* Ajusta la posición específica para el primer título */
    padding-left: 135vh;
}
.que-encontraras{
    position: relative;
    top: -30vh;
    margin-top: 80vh; /* Ajusta la posición específica para el primer título */
    padding-left: 15vh;
}

p {
    font-size: 3.0vw; /* Tamaño de texto legible */
    color: #333; /* Color oscuro para el texto */
}
.quienes-somos-p{
    padding-left: 17vh;
    margin-top: -8vh;
}
.objetivo-p{
    padding-left: 120vh;
    margin-top: -8vh;
}
.que-encontraras-p{
    position: relative;
    top: -80vh;
    margin-top: 50vh; /* Ajusta la posición específica para el primer título */
    padding-left: 15vh;
}

.header-image {
    width: 99vw; /* Ocupa todo el ancho de la ventana */
    height: 25vw; /* Mantiene la proporción */
    display: block;
}
.mano-image {
    position: relative;
    width: 55vw; /* Mantiene el ancho automático */
    height: 55vw; /* Mantiene la proporción */
    float: right; /* Cambia a 'left' si quieres que esté a la izquierda */
    transform: scaleX(-1); /* Invierte horizontalmente la imagen */
    margin-top: -94.5vh;
    left: 0.2vh;
}
.tamagochi-image {
    position: relative;
    width: 75vw; /* Mantiene el ancho automático */
    height: 75vw; /* Mantiene la proporción */
    float: left; /* Cambia a 'left' si quieres que esté a la izquierda */
    margin-top: -90vh;
    left: -10vh;
}
.helado-image {
    position:absolute;
    width: 50vw; /* Mantiene el ancho automático */
    height: 70vw; /* Mantiene la proporción */
    right: 1vw;
    top: 135vw;
}   
.boca-image {
    position:absolute;
    width: 90vw; /* Mantiene el ancho automático */
    height: 90vw; /* Mantiene la proporción */
    right: 8.9vw;
    top: 135vw;
    transform: scaleX(-1);
}
.puntos-blancos-image {
    position: absolute; /* Coloca la imagen en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/home/puntos-blancos-fondo.png); /* Cambia la ruta a tu imagen */
    background-size:cover; /* O 'contain', según lo que desees */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen */
    opacity: 0.5; /* Ajusta la opacidad de la imagen */
    z-index: -1; /* Asegúrate de que esté detrás del contenido */
}
