<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/home.css"> <!-- Enlace al archivo CSS -->
</head>
<body>
  <!-- Imagen del encabezado -->
  <img src="../images/home/portada-paginaweb.jpg" alt="portada" class="header-image">
  <img src="../images/home/logo-collage.png" alt="logo" class="logo-image">

  <div class="container">
    <img src="../images/home/señor.png" alt="señor" class="señor-image">
  </div>
  
  <h2 class="quienes-somos">¿QUIÉNES SOMOS?</h2>
  <p class="quienes-somos-p">Somos una dupla de <br> personas apasionadas <br> por el arte con el deseo <br> de compartir recursos <br> que faciliten  la creación <br> y experimentación.</p>
  
  <img src="../images/home/mano.png" alt="mano" class="mano-image">

  <h2 class="objetivo">OBJETIVO</h2>
  <p class="objetivo-p">Queremos facilitar tus espacios creativos, con nuestros recursos de <br> forma gratuita y en diferentes formatos <br> según tu necesidad.</p>
  
  <img src="../images/home/tamagochi.png" alt="tamagochi" class="tamagochi-image">

  <h2 class="que-encontraras">¿QUÉ ENCONTRARÁS?</h2>
  <p class="que-encontraras-p">Imágenes y gifs en formato <br> png y jpg de diferentes <br> temáticas y estéticas,<br> además de una sección para <br> compartir tus collages y <br>apoyarnos en esta <br>comunidad de creativos.</p>
  <img src="../images/home/helado.png" alt="helado" class="helado-image">
  <img src="../images/home/boca.png" alt="boca" class="boca-image">
  <div class="puntos-blancos-image"></div>
  
</body>
</html>