<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Desplegable</title>
    <link rel="stylesheet" href="../css/menu-styles.css">
</head>
<body>

<div class="menu-container">
    <img src="../images/home/Menu.png" alt="Menu Button" class="menu-icon" id="menu-button">
    <div id="dropdown-menu" class="dropdown-menu">
        <a href="#" class="dropdown-item">Opción 1</a>
        <a href="#" class="dropdown-item">Opción 2</a>
        <a href="#" class="dropdown-item">Opción 3</a>
        <a href="#" class="dropdown-item">Opción 4</a>
    </div>
</div>

<script src="../js/menu-boton.js"></script>
</body>
</html>










