<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/resources.css"> <!-- Tu CSS personalizado -->

</head>
<body>
    <!-- Header Section -->
    <header class="header-container">
        <div>
            <img src="../images/resources/titulo-recursos.png" alt="Header Image" class="header-image img-fluid"> <!-- Imagen PNG -->
        </div>
    </header>    
    <!-- Image Section -->
    <section class="container my-5">
        <!-- Fila 1 -->
        <div class="row mb-4">
            <div class="col-12">
                <div class="card text-center">
                    <div class="image-container">
                        <a href="../views/png.html" target="_blank">
                            <img src="../images/resources/payasitos.png" class="card-img-top" alt="PNG 01">
                        </a>
                        <div class="overlay">
                            <h5 class="card-title">PNG</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <div class="card text-center">
                    <div class="image-container">
                        <img src="../images/resources/gatico-oveja.jpg" class="card-img-top" alt="PNG 01">
                        <div class="overlay">
                            <h5 class="card-title">JPG</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <div class="card text-center">
                    <div class="image-container">
                        <img src="../images/resources/café.png" class="card-img-top" alt="PNG 01">
                        <div class="overlay">
                            <h5 class="card-title">GIFTS</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>           
    </section>
    

</body>
</html>