<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/resources.css"> <!-- Tu CSS personalizado -->

</head>
<body>

    <!-- Header Section -->
    <header class="header-container">
        <img src="../images/resources/titulo-recursos.png" alt="Header Image" class="header-image">
    </header>

    <!-- Image Section -->
    <section class="container my-4">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <img src="../images/resources/payasitos.png" alt="Imagen de payasitos" class="img-fluid image-frame">
                <div class="image-caption"><span>PNG</span></div>
            </div>
            <div class="col-12 text-center mb-4">
                <img src="../images/resources/gatico-oveja.jpg" alt="Imagen de gatico y oveja" class="img-fluid image-frame">
                <div class="image-caption"><span>JPG</span></div>
            </div>
            <div class="col-12 text-center mb-4">
                <img src="../images/resources/café.png" alt="Imagen de café" class="img-fluid image-frame">
                <div class="image-caption"><span>GIFTS</span></div>
            </div>
        </div>
    </section>
    

</body>
</html>